* { box-sizing: border-box; }
body,html {
  margin: 0;
  cursor: default;
  height: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
p {
  font-size: 20px;
}
ul {
  list-style: none;
  padding: 0;
}

#app {
  min-height: 100%;
  height: auto;
  padding-bottom: 100px;
  /* footer의 height만큼 padding-bottom을 주고 min-height을 100% -> footer 하단 고정 */
}
#navbar {
  background-color: #82b1ff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 16px;
}
#home {
  padding: 50px;
  margin-top: 120px;
  /* height: 100vh; */
}
.navbar__menu {
  display: flex;
  cursor: pointer;
  /* margin-right: 16px; */
}
.navbar__menu__item {
  margin: 0 4px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid white transparent;
  font-size: 18px;
  font-weight: 700;
}
.navbar__menu__item:hover {
  background-color: #4d82cb;
  border: #ffffff;
  transition: all 300ms ease-in;
}
.board { 
  padding: 30px; 
  padding-top: 100px; 
  /* text-align: center;  */
}  
button { 
  background-color: transparent; 
  cursor: pointer; 
  border: none; 
  outline: none; 
  margin-bottom: 10px;
  width: 100px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: #4d82cb;
  color: white;
}
table {
  width: 100%;
  margin-top: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 10px;
}

/* board-list page */
.board__list {
  text-align: center;
}
.board__button {
  display: block;
  margin-left: auto;
}
/* board-insert page */
input {
  height: 40px;
}
input, textarea:focus{
  outline: none;
}
textarea {
  width: 100%;
  height: 350px;
}
.board__contents {
  margin: 10px 0;
}
.board__input__title {
  width: 80%;
}
.board__input__author {
  width: 20%;
}
.insert__submitBtn {
  display: block;
  margin: auto;
  margin-top: 10px;
}
/* board-detail page */
.board__btn {
  display: flex;
  justify-content: flex-end;
}
.board__button {
  margin: 3px;
}
/* footer */
.footer {
  background-color: #82b1ff;
  color: #ffffff;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  text-align: center;
}
.divider__row {
  width: 100%;
  height: 1px;
  background-color: lightgrey;
}
.divider__col {
  display: inline-block;
  height: 13px;
  width: 1px;
  background-color: lightgrey;
  margin: 0 7px;
}