/* Global */
:root {
  /* Color */
--color-white: #ffffff;
--color-light-white: #eeeeee;
--color-dark-white: #bdbdbd;
--color-light-blue: #82b1ff;
--color-dark-blue: #4d82cb;
--color-grey: #4d4d4d;
--color-dark-grey: #616161;
--color-light-grey: #7c7979;
--color-yellow: #fff7d1;
--color-orange:#feb546;
--color-black: #000000;
  /* Font size */
--font-large: 48px;
--font-medium: 28px;
--font-regular: 20px;
--font-small: 16px;
--font-micro: 14px;
  /* Font weight */
--weight-bold: 700;
--weight-semi-bold: 600;
--weight-regular: 400;
/* Size */
--size-border-radius: 4px;
/* Animation */
--animation-duration: 300ms ;
}
/* Universal tag */
* { box-sizing: border-box; }

body,html {
  margin: 0;
  cursor: default;
  height: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
p {
  font-size: var(--font-regular);
}
ul {
  list-style: none;
  padding: 0;
}

#app {
  min-height: 100%;
  height: auto;
  padding-bottom: 100px;
  /* footer의 height만큼 padding-bottom을 주고 min-height을 100% -> footer 하단 고정 */
}
#navbar {
  background-color: var(--color-light-blue);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
  padding: 16px;
}
#home {
  padding: 50px;
  margin-top: 120px;
}
.navbar__menu {
  display: flex;
  cursor: pointer;
}
.navbar__menu__item {
  margin: 0 4px;
  padding: 8px 16px;
  border-radius: var(--size-border-radius);
  border: 1px solid white transparent;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}
.navbar__menu__item:hover {
  background-color: #4d82cb;
  border: var(--color-white);
  transition: all var(--animation-duration) ease-in;
}
.board { 
  padding: 30px; 
  padding-top: 100px; 
  max-width: 1450px;
  margin: auto;
}  
button { 
  background-color: transparent; 
  cursor: pointer; 
  border: none; 
  outline: none; 
  margin-bottom: 10px;
  width: 100px;
  height: 40px;
  border: 1px solid var(--color-grey);
  border-radius: var(--size-border-radius);
  background-color: var(--color-dark-blue);
  color: white;
}
table {
  width: 100%;
  margin-top: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 10px;
}

/* board-list page */
.board__list {
  text-align: center;
}
.board__button {
  display: block;
  margin-left: auto;
}
/* board-insert page */
input {
  height: 40px;
}
input, textarea:focus{
  outline: none;
}
textarea {
  width: 100%;
  height: 350px;
}
.board__contents {
  margin: 10px 0;
}
.board__input__title {
  width: 80%;
}
.board__input__author {
  width: 20%;
}
.insert__submitBtn {
  display: block;
  margin: auto;
  margin-top: 10px;
}
/* board-detail page */
.board__btn {
  display: flex;
  justify-content: flex-end;
}
.board__button {
  margin: 3px;
}
/* paging */
.pagination {
  display: block;
  margin: 20px 0;
}
.pagination__active {
  margin: 10px 5px;
  padding: 4px;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  color: var(--color-dark-grey);
  background-color: var(--color-white);
  font-weight: var(--weight-semi-bold);
}
.pagination__active.arrow {
  background-color: var(--color-light-white);
}
.pagination__active:hover {
  color: var(--color-light-blue);
  transform: scale(1.1);
  transition: all var(--animation-duration) ease-in;
}

/* footer */
.footer {
  background-color: var(--color-light-blue);
  color: var(--color-white);
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  text-align: center;
}
.divider__row {
  width: 100%;
  height: 1px;
  background-color: lightgrey;
}
.divider__col {
  display: inline-block;
  height: 13px;
  width: 1px;
  background-color: lightgrey;
  margin: 0 7px;
}
